<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

<% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h1 style="color: maroon">It's <%= kindOfDay %>!</h1>
<% } else { %>
    <h1 style="color: navy">It's <%= kindOfDay %>!</h1>
<% } %>

<ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>
</ul>

<form action="/" method="post">
    <!-- <label for="toDoItem">New Item</label> -->
    <input type="text" name="toDoItem" id="toDoItemInput">
    <button type="submit">Add</button>
</form>


</body>
</html>

